@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$primary: hsl(322, 100%, 66%);
$info: white;

$VeryPaleCyans: hsl(193, 100%, 96%);
$secondary: hsl(192, 100%, 9%);
$light: hsl(208, 11%, 55%);

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: $secondary;
}

.btn:hover {
  opacity: 0.7;
}

.hero {
  background: url(../images/bg-hero-desktop.svg);
  background-color: $VeryPaleCyans;
  height: 100vh;

  @media screen and (max-width: 768px) {
    background: url(../images/bg-hero-mobile.svg);
    background-color: $VeryPaleCyans;
    height: 130vh;
  }
}

.build-community {
  left: 45%;
}
